# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
dist/
build/
out/

# Cache
UsersUser.npm-cache/
.npm-cache/
.turbo/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.pem
.env*
!.env.example
